.index-page {
  .main-header {
    margin-bottom: 80px;
  }
}

.main-header {
  margin: 0 0 10px;
}

.header-top {
  background-color: #000;
  color: #fff;
  padding: 5px 0;

  p {
    margin: 0;
  }

  .header-languages {
    float: left;
    margin-right: 30px;

    a {
      display: inline-block;
      color: #fff;
      font-size: 12px;

      &.active {
        color: #00a651;
      }
    }

    span {
      display: inline-block;
      margin: 0 3px;
    }
  }

  .header-hours {
    float: left;
    font-size: 12px;
    margin-top: 3px;
  }

  .header-logins {
    float: right;
    margin-left: 30px;
    font-size: 13px;
    margin-top: 1px;

    a {
      display: inline-block;
      color: #fff;
      transition: 0.25s;

      &:hover {
        color: #00a651;
      }
    }

    span {
      display: inlin-block;
      margin: 0 2px;
    }
  }

  .header-contacts {
    float: right;
    font-size: 13px;
    margin-top: 1px;

    a {
      color: #fff;
      display: inline-block;
      transition: 0.25s;
      margin-left: 5px;

      &:hover {
        color: #00a651;
      }
    }
  }
}

.header-content {
  box-shadow: 0 1px 3px rgba(0,0,0,.5);
  padding: 35px 0;

  > .container {
    position: relative;
  }

  .main-logo {
    position: absolute;
    left: 10px;
    right: 0;
    width: 220px;
    margin: 0 auto;
    top: -60px;
    text-align: center;
    color: #000;
    transition: 0.3s;


    img {
      display: block;
      max-width: 60px;
      margin: 0 auto;
    }

    span {
      font-family: 'Pacifico', cursive;
      font-size: 20px;
      position: relative;
      top: -4px;
      color: #524949;
      transition: 0.25s;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }

    &:hover {
      span {
        color: #000;
      }
    }
  }

  .nav-toggle {
    display: none;
  }

  .svg-container {
    display: inline-block;
    vertical-align: top;
    margin: -1px 4px 0 0;

    svg {
      display: block;
      width: 24px;
      transition: 0.3s;
    }
  }

  .main-nav {
    float: left;
    width: 980px;

    a {
      float: left;
      font-size: 16px;
      margin-right: 40px;
      color: #000;
      transition: 0.25s;

      &.index-link {
        .svg-container {
          margin-top: -2px;

          svg {
            width: 20px;
          }
        }
      }

      &.delivery-link {
        .svg-container {
          margin-top: 0;

          svg {
            width: 20px;
          }
        }
      }

      &.gallery-link {
        .svg-container {
          margin-right: 2px;
          margin-top: 0;

          svg {
            width: 20px;
          }
        }
      }

      &.catalog-link {
        .svg-container {
          margin-right: 2px;

          svg {
            width: 21px;
          }
        }
      }

      &.pull-right {
        margin: 0 0 0 40px;
      }

      &.contacts-link {
        .svg-container {
          margin-right: 1px;

          svg {
            width: 19px;
          }
        }
      }

      &:hover,
      &:focus,
      &:active {
        color: #00a651;
        text-decoration: none;
      }

      &:hover {
        svg {
           fill: #00a651;
        }
      }

      &.active {
        color: #00a651;

        svg {
           fill: #00a651;
        }
      }
    }
  }

  .right-nav {
    float: right;
    margin-top: -2px;

    a,
    button {
      display: inline-block;
      vertical-align: top;
      color: #000;
      font-size: 16px;
      margin-left: 15px;
      background: transparent;
      border: 0;
      outline: 0;
      padding: 0;
      position: relative;

      svg {
        fill: #777;
      }

      &:nth-of-type(2) {
        .svg-container {
          margin-top: -2px;
        }
      }

      .amount-indicator {
        background-color: #f00;
        border-radius: 15px;
        color: #fff;
        position: absolute;
        top: -6px;
        right: -3px;
        font-size: 11px;
        padding: 0 4px;
        height: 15px;

        i {
          display: inline-block;
          max-width: 22px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          font-style: normal;
        }
      }

      &:hover,
      &:focus,
      &:active {
        color: #00a651;
        text-decoration: none;
      }

      &.search-toggle {
        .svg-container {
          margin-top: -1px;
        }
      }

      &:hover {
        svg {
           fill: #00a651;
        }
      }

      &.active {
        color: #00a651;

        svg {
           fill: #00a651;
        }
      }
    }

    .basket-toggle {
      .svg-container {
        margin-top: -2px;
      }
    }
  }
}

// .index-page {
//   .header-content {
//     .main-logo {
//       span {
//         display: block;
//       }
//     }
//   }
// }